<h1>{{title}}</h1>

<div id="space">
  <div id="hud">
    <span id="pontos">Pontuação: 0</span>
    <span id="vidas">
      <img src="/jogo_pw/assets/png/life.png" class="life">
      <img src="/jogo_pw/assets/png/life.png" class="life">
      <img src="/jogo_pw/assets/png/life.png" class="life">
    </span>
  </div>
</div>

<div id="gameOver" style="display: none;">
  <h1>Game Over</h1>
  <button id="btnReiniciar">Reiniciar</button>
</div>


<link rel="stylesheet" href="/jogo_pw/css/style.css">

<script type="module" src="/jogo_pw/js/game.js"></script>
