<h1>Ranking dos 10 melhores jogadores</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Posição</th>
      <th>Nome do Jogador</th>
      <th>Pontuação Total</th>
    </tr>
  </thead>
  <tbody>
    {{#each ranking}}
      <tr>
        <td>{{inc @index}}</td>
        <td>{{this.userName}}</td>
        <td>{{this.totalScore}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
