<div>
    <h2>Informações importantes</h2>
    <p>O jogo space-shooter foi desenvolvido pelo acadêmico João Vitor em parceria com a Universidade Federal do Amazonas</p>

    <h3>Regras e instruções</h3>
    <p>O jogo começara assim que vôce clicar na tecla "Tab" do seu teclado</p>
    <p>Para pausar e continuar o jogo bastar clicar na tecla "P" do seu teclado</p>
    <p>O jogo termina se o jogador colidir mais de três vezes com os obstaculos</p>
</div>