<h2>Alterar Senha:</h2>

{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{{/if}}

<form method="POST" action="/user/password">

<div class="row mb-3">
    <label for="senhaCadastro" class="col-sm-2 col-form-label">Repita a senha</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="senhaAtual" name="currentPassword" required>
    </div>
  </div>

  <div class="row mb-3">
    <label for="senhaCadastro" class="col-sm-2 col-form-label">Senha</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="novaSenha" name="newPassword" required>
    </div>
  </div>

  <div class="row mb-3">
    <label for="senhaCadastro" class="col-sm-2 col-form-label">Repita a senha</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="confirmaNovaSenha" name="confirmPassword" required>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary">Atualizar Senha</button>
    </div>
  </div>
</form>
