.blue {
    width: 100px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 0;
    left: 0;
  }
  
  .yellow {
    width: 100px;
    height: 150px;
    background-color: yellow;
    position: relative;
    top: -200px;
    left: 100px;
  }
  
  .red {
    width: 100px;
    height: 150px;
    background-color: red;
    position: relative;
    top: -350px;
    left: 200px;
  }
  
  .green {
    width: 200px;
    height: 50px;
    background-color: green;
    position: relative;
    top: -350px;
    left: 100px;
  }
  