body {
    background-color: white;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .caixa {
    background-color: #ccc;
    border: 15px solid black;
    border-radius: 100px 30px 100px 30px; 
    padding: 40px;
    width: 60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .caixa p {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
  