<h1>Detalhes do Curso</h1>

<p><strong>Nome:</strong> {{major.name}}</p>
<p><strong>Código:</strong> {{major.code}}</p>

<a href="/major/update/{{major.id}}">Editar</a> |
<a href="/major">Voltar para lista</a>
