body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Webb_captures_detailed_beauty_of_Ring_Nebula_%28NIRCam_image%29_%28weic2320b%29.jpg/1200px-Webb_captures_detailed_beauty_of_Ring_Nebula_%28NIRCam_image%29_%28weic2320b%29.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 50px;
  }
  
  .caixa-texto {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    width: 300px;
    border: 5px solid #d38d4a;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 15px black;
  }
  
  .caixa-texto h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  